<p style="color: green"><%= notice %></p>

<%= render @skil %>

<div>
  <%= link_to "Edit this skil", edit_skil_path(@skil) %> |
  <%= link_to "Back to skils", skils_path %>

  <%= button_to "Destroy this skil", @skil, method: :delete %>
</div>
